body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
}
#fullscreen {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
#avatar {
    height: 180px;
/*    border-radius: 100%; */
/*    border: 5px solid white; */
    margin-bottom: 40px;
}
#footer a {
    color: white;
/*    font-size: 0.6em; */
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
}
h1 {
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 3em;
    font-family: Arial;
    margin: -10px 0;
}
h2 {
    color: white;
    padding-bottom: 20px;
}
h3 {
    color: white;
    padding-bottom: 20px;
}
.content {
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
}
.description {
    display: inline-block;
    margin-top: 20px;
    text-align: justify;
    width: 30em;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    color: white;
    margin: 5px;
}
ul li {
    border-radius: 100%;
    border: 2px solid white;
    display: inline-block;
    margin: 8px;
}
a {
    border-radius: 100%;
    color: white;
    padding: 15px;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
}
.links .description {
    display: none;
}

@media (max-width: 450px) {
    .description {
        display: inline-block;
        text-align: justify;
        width: 80%;
    }
    ul {
        text-align: center;
    }
    ul li {
        border-radius: 100%;
        border: none;
        color: white;
        margin: 8px;
        display: block;
        list-style: none;
        margin: 10px 35px;
        text-align: center;
    }
    a {
        text-align: justify;
        border: 2px solid white;
        border-radius: 5px;
        color: white;
        padding: 15px;
        padding-left: 30px;
        width: 70%;
    }
    a:hover {
        color: white;
        text-decoration: none;
        -webkit-transition: 500ms;
        -moz-transition: 500ms;
        transition: 500ms;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .links .description {
        display: inline;
        color: white;
        font-family: Arial;
        margin-left: 40px;
    }
    .content {
        padding-top: 60px;
    }
    #footer a {
        display: none;
        visibility: hidden;
    }
}
